body {
	background-color: #000000;
	margin: 80px;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

a,
input,
button {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	outline: 0;
}

a,
a:hover,
a:link,
a:visited,
a:active {
	color: #ffff00;
}

.head-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 36px;
}

.head-container h1 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 48px;
	letter-spacing: 4px;
	margin: 0;

}

.head-container h3 {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.36px;
	margin-top: 0;
}

.head-grey {
	color: #b3b3b3 !important;
	font-weight: 700;
}

/* No scroll bar */
::-webkit-scrollbar {
	display: none;
}

.header-swoosh-container {
	display: block;
}

.header-swoosh {
	position: absolute;
	z-index: -4;
	stroke: #c1272d;
	stroke-width: 0.2px;
	width: 1760px;
	top: -110px;
	left: 80px;
	overflow: visible;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
}

.tail-container {
	position: absolute;
	top: 900px;
}

#status-msg {
	position: fixed;
	left:  80px;
	bottom: 100px;
}

#status-bar {
	width: 1200px;
	height: auto;
	position: fixed;
	right: 80px;
	bottom: 80px;
}