body {
	background-color: #000000;
	margin: 80px;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #ffffff;
	font-family: "Urban Grotesk", sans-serif;
	font-weight: 500;
}

a,
input,
button {
	font-family: "Urban Grotesk", sans-serif;
	font-weight: 500;
	outline: 0;
}

a,
a:hover,
a:link,
a:visited,
a:active {
	color: #ffff00;
}

.head-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.head-container h1 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 46px;
	letter-spacing: 7px;
	margin: 0;
}

.head-container h3 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	margin-top: 0;
}

.head-grey {
	color: #b3b3b3;
	font-weight: 700;
}

/* No scroll bar */
::-webkit-scrollbar { 
    display: none; 
}