.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 80vw;
	border: none;
	text-align: left;
	outline: none;
}

.active,
.collapsible:hover {
	background-color: #555;
}

.content {
	/* margin: 0 18px; */
	display: none;
	overflow: auto;
	background-color: #f1f1f1;
	width: 80vw;
	color:  #000000;
}

.bold-item {
	font-weight: bold;
}

.italic-item {
	font-style: italic;
}

.msg {
	padding-left: 20px;
}

p {
	padding: 0 18px;
	width: 76vw;
	white-space: pre-wrap;
	word-wrap: break-word;
}

body,
button,
.mono {
	font-family: 'Iosevka', monospace;
	font-size: 14px;
}


p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
button {
	font-family: 'Iosevka', monospace;
}

.content p {
	color: #222222;
}