.lgrey-text {
	color: #ccc;
}

.swiper-container {
	width: 90%;
	top: 10px;
	height: 348px;
	margin: 0 auto;
}

.swiper-slide-container {
	position: relative;
	text-align: center;
	color: white;
}

/* .swiper-slide-container img {
	height: 298px;
	max-height: 298px;
	max-width: 398px;
	display: block;
	margin-left: auto;
	margin-right: auto;
} */

.swiper-slide {
	left: 64px;
}

.swiper-slide-bg {
	height: 298px;
	width: 398px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 16px;
}

#bg0000 {
	background-image: url(../carousel/imgs/0000.jpg);
}

#bg0001 {
	background-image: url(../carousel/imgs/0001.jpg);
}

#bg0002 {
	background-image: url(../carousel/imgs/0002.jpg);
}

#bg0003 {
	background-image: url(../carousel/imgs/0003.jpg);
}

#bg0004 {
	background-image: url(../carousel/imgs/0004.jpg);
}

#bg0005 {
	background-image: url(../carousel/imgs/0005.jpg);
}

#bg0006 {
	background-image: url(../carousel/imgs/0006.jpg);
}

.swiper-slide-alt-wrapper {
	width: 398px;
	overflow: hidden;
	height: 58px;
	text-align: left;
	position: absolute;
	bottom: 0px;
	background: rgba(51, 51, 51, 0.9);
	border-radius: 0px 0px 16px 16px;
	/* margin-left: 1em; */
	/* margin-right: auto; */
	/* margin-top: 50%; */
}

.swiper-slide-alt {
	margin-left: 1em;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 18px;
	font-family: "Urban Grotesk", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #cccccc;
}

.swiper-pagination {
	position: absolute;
	top: 318px;
}

.swiper-pagination-bullet {
	background: #808080 !important;
	opacity: 1 !important;
	width: 16px !important;
	height: 16px !important;
	margin: 0 10px;
}

.swiper-pagination-bullet-active {
	background: #cccccc !important;
}

.swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E") !important;
}

#searchfield {
	height: 98px;
	width: 1688px;
	order: none;
	border-radius: 16px;
	border: 0;
	overflow: hidden;
	/* background: url('../assets/images/Search.svg') no-repeat scroll 90px 90px; */
	padding-left: 72px;
	font-size: 27px;
	font-weight: 700;
	text-transform: uppercase;
	color: #666666;
}

.searchfield-wrapper {
	position: relative;
}

.searchfield-icon {
	position: absolute;
	top: 29px;
	left: 16px;
	width: 42px;
	height: 42px;
}

.virtual-keyboard {
	position: absolute;
	top: 300px;
	left: 80px;
	margin-top: -70px;
}

.main-container {
	display: flex;
	flex-direction: column;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #666;
	margin: 1em 0;
	padding: 0;
}