.black-text {
	color: #000;
}

.white-text {
	color: #fff;
}

.lgrey-text {
	color: #ccc;
}

.dgrey-text {
	color: #666;
}

.bold-text {
	font-weight: 700;
}

.preview-button {
	font-size: 24px;
	height: 60px;
	border: 0;
	border-radius: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 24px;
	padding-top: 30px;
	transform: translateY(0%);
}

.preview-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.preview-content {
	display: flex;
	flex-direction: row;
	margin-bottom: 14px;
}

.preview-confirmation-container {
	min-width: 400px;
	margin-right: 40px;
}

.content-container {
	display: flex;
	flex-direction: row;
}

.leftpanel-container {
	display: flex;
	flex-direction: row;
	width: 440px;
	height: 660px;
	/* justify-content: space-between; */
	/* align-self: stretch; */
}

#preview-yes {
	background-color: #fff;
}

#preview-no {
	background-color: #c1272d;
}

#preview-cancel {
	background-color: #666;
}

/* 300px per image */

#preview-grid {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

#grid-item-0,
#grid-item-1,
#grid-item-2,
#grid-item-3,
#grid-item-4,
#grid-item-5,
#grid-item-6,
#grid-item-7,
#grid-item-8 {
	height: 300px;
	width: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 16px;
	margin-bottom: 30px;
}

#preview-ysf {
	text-transform: uppercase;
	font-size: 24px;
	color: #c2372d;
	font-weight: 900;
	margin-bottom: 0;
}

#preview-search-query {
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	margin-top: 6px;
}