.black-text {
	color: #000;
}

.white-text {
	color: #fff;
}

.lgrey-text {
	color: #ccc;
}

.dgrey-text {
	color: #666;
}

.bold-text {
	font-weight: 700;
}

h1 {
	font-size: 36px;
	color: #ccc;
	font-weight: 700;
}

h2 {
	font-size: 24px;
	color: #fff;
	font-weight: 700;
}

.desc {
	font-size: 18px;
	color:  #ccc;
	font-weight: 500;
}

#item-timer {
	color: #666 !important;
	font-variant-numeric: tabular-nums !important;
}